<div class="container">
    <h1>Home</h1>
    <div class="media col-xs-12 col-sm-6">
        <a href="#/settings" title="Settings">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Settings" style="width: 100%; height: 100%; opacity: .6;">
        </a>
        <div class="media-body">
            <h4 class="media-heading"><a href="#/settings" title="Settings">Settings</a></h4>
        </div>
    </div>
</div>