<div class="container">
    <h1>Settings</h1>
    <div class="media pure-u-1 pure-u-sm-1-2 pure-u-med-1-4 pure-u-lrg-1-6 pure-u-xl-1-8" data-ng-repeat="setting in settings">
        <a data-ng-click="editSetting(setting)" title="{{setting.name}}">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="{{setting.name}}" style="width: 100%; height: 100%; opacity: .6;">
        </a>
        <div class="media-body">
            <h4 class="media-heading"><a data-ng-click="editSetting(setting)" title="{{setting.name}}" data-ng-bind="setting.name"></a></h4>
        </div>
    </div>
</div>