<div id="setting-view-modal" close="cancel()" class="modal-header">
    <h2 data-ng-bind="activeSetting.name"></h2>
</div>
<form role="form" name="settingEditForm" data-ng-submit="save()">
    <div class="modal-body">
        <div id="setting-view">
            <tabset justified="true">
                <tab heading="Details">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="form-control" placeholder="Name" data-ng-model="activeSetting.name">
                    </div>

                    <div class="form-group">
                        <label for="shortUrl">Short URL</label>
                        <input id="shortUrl" type="text" class="form-control" placeholder="Short URL" data-ng-model="activeSetting.shortUrl">
                    </div>

                    <div class="form-group">
                        <label for="contactName">Contact</label>
                        <input id="contactName" type="text" class="form-control" placeholder="Contact Name" data-ng-model="activeSetting.contactName">
                    </div>

                    <div class="form-group">
                        <label for="urn">URN</label>
                        <input id="urn" type="text" class="form-control" placeholder="URN" data-ng-model="activeSetting.urn">
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input id="phone" type="text" class="form-control" placeholder="Phone" data-ng-model="activeSetting.phone">
                    </div>

                    <div class="form-group">
                        <label for="type">Type</label>
                        <input id="type" type="text" class="form-control" placeholder="Type" data-ng-model="activeSetting.type">
                    </div>
                </tab>
                <tab heading="Address">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <input id="status" type="text" class="form-control" placeholder="Status" data-ng-model="activeSetting.status">
                    </div>

                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea id="address" class="form-control" placeholder="Address" rows="3" data-ng-model="activeSetting.address"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="city">City</label>
                        <input id="city" type="text" class="form-control" placeholder="City" data-ng-model="activeSetting.city">
                    </div>

                    <div class="form-group">
                        <label for="county">County</label>
                        <input id="county" type="text" class="form-control" placeholder="County" data-ng-model="activeSetting.county">
                    </div>

                    <div class="form-group">
                        <label for="postcode">Postcode</label>
                        <input id="postcode" type="text" class="form-control" placeholder="Postcode" data-ng-model="activeSetting.postcode">
                    </div>

                    <div class="form-group">
                        <label for="country">Country</label>
                        <input id="country" type="text" class="form-control" placeholder="Country" data-ng-model="activeSetting.country">
                    </div>
                </tab>
                <tab heading="Marketing">
                    <div class="form-group">
                        <label for="source">Source</label>
                        <input id="source" type="text" class="form-control" placeholder="Source" data-ng-model="activeSetting.source">
                    </div>

                    <div class="form-group">
                        <label for="researchContact">
                            <input id="researchContact" type="checkbox" data-ng-model="activeSetting.researchContact"> I can be contacted for research purposes
                        </label>
                    </div>
                </tab>
                <tab heading="Login">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" type="text" class="form-control" placeholder="Username" data-ng-model="activeSetting.login.username">
                    </div>

                    <div class="pure-control-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" class="form-control" placeholder="Password" data-ng-model="activeSetting.login.password">
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    <div class="modal-footer">
        <button id="default-answer-update" type="submit" data-ng-disabled="!isFormValid(settingEditForm)" class="btn btn-save">Save</button>
        <button id="default-answer-cancel" type="button" class="btn btn-cancel" data-ng-click="cancel()">Cancel</button>
    </div>
</form>
