<div class="content-wrapper">
    <div class="content">
        <h1 class="content-head is-center">Home</h1>
        <div class="pure-g">
            <div class="media pure-u-1 pure-u-sm-1-2">
                <div class="l-box">
                    <a href="#/keyPeople" title="Key people">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Key people" style="width: 100%; height: 100%; opacity: .6;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#/keyPeople" title="Key people">Key people</a></h4>
                    </div>
                </div>
            </div>
            <div class="media pure-u-1 pure-u-sm-1-2">
                <div class="l-box">
                    <a href="#/kids" title="Kids">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="Kids" style="width: 100%; height: 100%; opacity: .6;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#/kids" title="Kids">Kids</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>