<div class="content-wrapper">
    <div class="content">
        <h1 class="content-head is-center">Kids</h1>

        <div class="pure-g">
            <div class="media l-box pure-u-1 pure-u-sm-1-2 pure-u-med-1-4 pure-u-lrg-1-6 pure-u-xl-1-8" data-ng-repeat="kid in kids">
                <a data-ng-click="editKid(kid)" title="{{kid.name}}">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" alt="{{kid.name}}" style="width: 100%; height: 100%; opacity: .6;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a data-ng-click="editKid(kid)" title="{{kid.name}}" data-ng-bind="kid.name"></a></h4>
                </div>
            </div>
        </div>

    </div>
</div>

<css-modal is-open="isOpen">
    <div class="modal-inner">
        <header>
            <h2 data-ng-bind="activeKid.name"></h2>
        </header>
        <div class="modal-content">
            <form class="pure-form pure-form-stacked" data-ng-submit="save()">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="pure-input-1-2" placeholder="Name" data-ng-model="activeKid.name">
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Save</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <footer>
            <p>&nbsp;</p>
        </footer>
    </div>
</css-modal>
