@import "../bower_components/font-awesome/scss/font-awesome";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
}

h1, h2, h3, h4, h5, h6, label {
  color: #34495e;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}


/* forms */



/* buttons */



/* menus */



/* content */



@media screen and (min-width: 35.5em) { // 568px

}

@media screen and (min-width: 48em) { // 768px

}

@media screen and (min-width: 58em) { // 928px

}

@media screen and (min-width: 75em) { // 1200px

}

.media {
  img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
  }
}

.fade-in {
  &.ng-enter {
    -webkit-transition: 0.2s linear all 0.2s;
    transition: 0.2s linear all 0.2s;
    opacity: 0;

    &.ng-enter-active {
      opacity: 1;
    }
  }
}

.fade-out {
  &.ng-leave {
    -webkit-transition: 0.2s linear all;
    transition: 0.2s linear all;
    opacity: 1;

    &.ng-leave-active {
      opacity: 0;
    }
  }
}